LOGLEVEL=DEBUG

# DB_CONN="postgresql://postgres:<db-password>@db/voteaire"
DB_CONN=sqlite:///

QUEUE_PROVIDER=blockfrost
CHAIN_PROVIDER=blockfrost

BLOCKFROST_PROJECT_ID=<project_id>
BLOCKFROST_API_URL=https://cardano-preprod.blockfrost.io/api

NETWORK_MODE="TESTNET"

ORACLE_SKEY=<skey>